body
{
    direction: ltr;
    text-align: left;
    background: #FFF;
    color: rgb(0, 0, 0);
}

.img-box
{
    text-align: center;
    margin-top: 40px;
}

.img-box img
{
    desplay:block
}

.h3
{
    padding: 10px 0;
    margin: 20px 0;
    font-size: 16px;
    border-bottom: 1px solid #7b7b7b;
    font-weight: bold;
}

.h3 span
{
    color: #e60000;
}

.h5
{
    margin:35px 0 25px 0;
    color: #199a09;
}

.done-img
{
    max-width: 50px;
    margin: auto;
}

.done-img img 
{
    max-width: 100%;
}

.h1-done
{
    margin: 35px 0 15px 0;
    color: #0e941f;
}

.box-gif
{
    width: 160px;
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    border: 2px solid #8e8e8e;
    cursor: pointer;
    border-radius: 5px;
}

.box-gif:hover
{
    border: 2px solid #005dfe;
    color: #0e941f;
}

.box-gif img
{
    width: 100%;
    max-width: 100%;
}

.selected1
{
    border: 2px solid #005dfe;
    color: #0e941f;
}

.x22
{
    font-size: 14px;
    padding: 1px;
}

.btnSend,
.divSend,
.btnSendar
{
    margin-top: 25px;
    text-align: center;

}


.btnSend button,
.btnSendar button
{
    font-size: 20px;
    padding: 5px 30px;
    background: #404040;
    border: 1px solid white;
}

.btnSend button:hover,
.btnSendar button:hover{
    font-size: 20px;
    padding: 5px 30px;
    background: #2f2f2f;
    border: 1px solid #2f2f2f;
}

.choose1{
    color: #be2106;
    font-size: 18px;
}

.fillOut
{
    padding: 10px;
    font-size: 18px;
    background: #e0eaf0;
    color: #d80000;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 10px;
}

.txt22
{
    background: #5fd45f;
    color: #313131;
    font-size: 14px;
}

.clock1 img
{
    width:100%;
    max-width:100%;
}

.whats20{
    text-align: right;
    background-color: #e0eaf0;
    padding: 10px;
}

.progress
{
    height: 20px;
    margin: 10px 0px;
}

